<form #form="ngForm" class="user-form" (submit)="submit(form)">
  <fieldset ngModelGroup="person">
    <div class="form-group">
      <label class="required">Name</label>
      <input required minlength="3" #name="ngModel" class="form-control" name="name" [ngModel]="formModel.person.name"/>
      <span class="error-display" *ngIf="name.invalid && name.dirty">{{name?.errors | json}}</span>
    </div>
    <div class="form-group">
      <label class="required">Age</label>
      <input #age="ngModel" class="form-control" name="age" [ngModel]="formModel.person.age"/>
      <span class="error-display" *ngIf="age.invalid && age.dirty">{{age?.errors | json}}</span>
    </div>
  </fieldset>
  <div class="form-group">
    <label class="required">City</label>
    <input #city="ngModel" asyncValidator class="form-control" name="city" [ngModel]="formModel.city"/>
    <span class="error-display" *ngIf="city.pending">Loading...</span>
    <span class="error-display" *ngIf="city.invalid && city.dirty">{{city?.errors | json}}</span>
  </div>
  <div class="form-group">
    <label class="required">Email</label>
    <input #email="ngModel" emailValidation class="form-control" name="email" [ngModel]="formModel.email"/>
    <span class="error-display" *ngIf="email.invalid && email.dirty">{{email?.errors | json}}</span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>

<div class="container">
  <div class="row">
    <div class="col"><b>Form Properties:</b></div>
    <div class="col"><b>Model:</b></div>
    <div class="col"><b>Form Values:</b></div>
  </div>

  <div class="row">
    <div class="col" [class.warning]="!form.valid" [class.success]="form.valid">
      Valid: {{form.valid}}
    </div>
    <div class="col">
      Name: {{formModel.person.name}}
    </div>
    <div class="col">
      Name: {{form.value.person?.name}}
    </div>
  </div>
  <div class="row">
    <div class="col" [class.warning]="!form.untouched" [class.success]="form.untouched">
      Untouched: {{form.untouched}}
    </div>
    <div class="col">
      Age: {{formModel.person.age}}
    </div>
    <div class="col">
      Age: {{form.value.person?.age}}
    </div>
  </div>
  <div class="row">
    <div class="col" [class.warning]="!form.pristine" [class.success]="form.pristine">
      Pristine: {{form.pristine}}
    </div>
    <div class="col">
      City: {{formModel.city}}
    </div>
    <div class="col">
      City: {{form.value?.city}}
    </div>
  </div>
  <div class="row">
    {{form.pending | json}}
  </div>
</div>
